spring:
  application:
    name: auth-service
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          batch_size: 20
          fetch_size: 50
        format_sql: false
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 20000
      idle-timeout: 300000

logging:
  level:
    root: INFO
    com.quhealthy: INFO

jwt:
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus